<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta Bilgi Güncelleme</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],
        input[type="date"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="date"]::-webkit-inner-spin-button {
            display: none;
        }

        button {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hasta Bilgi Güncelleme</h1>
        <form action="/doktorlar/guncelle/<%= doktor.doktorid %>" method="POST">
            <label for="ad">Ad:</label>
            <input type="text" id="ad" name="ad" value="<%= doktor.ad %>">
            <label for="soyad">Soyad:</label>
            <input type="text" id="soyad" name="soyad" value="<%= doktor.soyad %>">
            <label for="uzmanlık">Uzmanlık alanı:</label>
            <input type="text" id="uzmanlık" name="uzmanlık" value="<%= doktor.uzmanlikalani %>">
            <label for="calistigihastane">calistigi Hastane</label>
            <input type="text" id="calistigihastane" name="calistigihastane" value="<%= doktor.calistigihastane %>">
           
            <!-- Diğer hasta bilgileri için gerekli alanları buraya ekleyebilirsiniz -->
            <button type="submit">Güncelle</button>
        </form>
    </div>
</body>
</html>
